<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org/"
  th:fragment="HeaderFrag"> 
<!-- 관리차원에서 사용함. -->
<!-- 헤더 -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" th:href="@{/empList}">전체사원조회</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="">사원등록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>


</div>